html, body {
	margin: 0;
	padding: 0;
	background-color: rgb(235,235,235);
	font-family: Arial;
}

.fixed_container {
	width: 960px;
	margin: 0 auto;
	background: #FFFFFF;
	display: block;
}

.fixed_container, .central_container {
	overflow: hidden;
	
}

.black_sidebar {
	width: 26%;
	background: rgb(70,70,70);
	float: left;
	margin: 0 0;
	padding: 0 20px;
	overflow: hidden;
	/* vertical-align: top; */
} 

.right_column {
	background: #FFFFFF;
	float: left;
	width: 65%;
	margin: 0 0;
	padding: 30px 20px 0 20px;
	overflow: hidden;
	/* vertical-align: top; */
}

.item_container {
	width: 100%;
	margin: 0 0;
	position: relative;
}

#avatar {
	width: 150px;
	display:block;
	margin: 40px auto 20px auto;
}

h1 {
	font-size: 24px;
	color: rgb(114,114,114);
	font-weight: 500;
	margin-bottom: 0;
}

h2 {
	font-size: 18px;
	font-weight: 100;
	margin: 5px;
	display: inline-block;
}

.items_beige {
	color: rgb(255,236,177);
}

.white_text {
	font-size: 14px;
	color: white;
	text-align: left;
	font-weight: 400;
	line-height: 1.5;
	margin: 5px;
}



.items_grey {
	color:  rgb(70,70,70);
	background: rgb(255,236,177);
}

.grey_text {
	font-size: 14px;
	color:  rgb(70,70,70);
	text-align: left;
	font-weight: 400;
	line-height: 1.5;
	margin: 5px;
}

#footer {
	width: 100%;
	height: 1px;
	position: relative;
	display: block;
	overflow: hidden;
}
