@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
  }
html {
    font-size: 10px;
  }
body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}
h1 {
    font-family: Roboto;
}
h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    color:#2C3E50; 
    /* text-transform: uppercase; */
    margin-top: 0.7em;
    margin-bottom: 0.2em;
} 
.h2_white{
    color: white;
}
h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 130%;
    color:#2C3E50; 
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    /* text-transform: uppercase; */
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}
a {
    text-decoration: none;
    font-style: normal;
    font-family: Roboto,sans-serif;
    font-size: 1.5rem;
    color: #2C3E50;
    font-weight: bold;
}
a:hover {
    font-weight: bold;
    color: #71b280;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    position: absolute;
    margin-top: 0;
    display: flex;
    width: 100vw;
    height: 60px;
    padding: 40px;
    background-color: rgba(255,255,255,0.2);
}
.header__wrapper {
    flex-direction: row;
    justify-content: space-between;
}
.logo__image {
    width: 150px;
}
.menu {
    display: inline-block;
    width: 40%;
    /* justify-content: space-between; */
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.menu__link, .blue-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    z-index: 10;
    color:#2C3E50; 
}
.menu__link:hover {
    color: white;
    font-size: 16px;
}

.about {
    background-color: #134e5e;
    background: linear-gradient(135deg,#134e5e,#71b280);
    color: #fff;
    padding-bottom: 5%;
    padding-top: 7%;
}
.about__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* align-items: center; */
    width: 80%;
    padding: 0 5%;  
}
.about__image {
    width: 250px;
    margin-top: 25px;
    margin-right: 80px;
}
.about__content {
    width: 600px;
}
.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    color: white;
}
.text_caps {
    text-transform: uppercase;
}
.resume-button {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    padding: 12px 22px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
}
.resume-button:hover{
    background-color: white;
    color: #71b280;
}

.skills {
    padding-top: 2%;
    padding-bottom: 2%;
}
.skills__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%; 
    padding-top: 2%;
    /* padding-bottom: 2%; */
}
.skills__container{
    padding: 20px 60px;
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.skills__container i {
    display: flex;
    font-size: 6.5rem;
    color: #2C3E50;
}
i.non-active {
    color: #a5a5a5; 
}
.grey-text {
    color: #a5a5a5; 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.projects {
    /* background-color: #e0e0e0; */
    padding-top: 1%;
    padding-bottom: 2%;
}
.wrapper__3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
    width: 100%; 
    padding: 1% 5%;
}
.project {
    width: calc(100% / 4);
    /* padding: 20px 60px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0 10px 10px 10px;
    /* padding: 0 10px;
    border-right: 1px solid #a5a5a5; */
}
.project:hover{
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.08);
}
.img-container{
    width: 100%;
}
.project__img {
    width: 100%;
    margin-top: 25px;
    margin-right: 80px;
}
.project__description{
    width: 90%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: rgb(29, 29, 29);
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.project__button {
    border: 2px solid #71b280;
    border-radius: 25px;
    padding: 12px 15px;
    font-weight: 700;
    line-height: 14px;
    margin: 5px 10px;
    width: 92px;
    text-align: center;
}
.project__button_live {
    border: 2px solid #134e5e;
    color:#134e5e;
    background-color: #fff;
}
.project__button_live:hover{
    background-color:#134e5e;
    color: #fff;
    border: 2px solid #134e5e;
}
.project__button_code {
    color:#71b280;
    background-color: transparent;
}
.project__button_code:hover {
    /* background-color: rgba(255,255,255,0.2); */
    background-color: #71b280;
    color: #fff;
    border: 2px solid#71b280;
}

.contacts {
    background-color: #134e5e;
    background: linear-gradient(135deg,#134e5e,#71b280);
    color: #fff;
    padding-bottom: 40px;
}
.contacts__item {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color:#fff; 
    text-align: center; 
    text-decoration: none;
    padding: 0 10px;
 }
footer ul {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 10px;
  padding-left: 0;
}
.a_white{
    color: white;
    font-size: 16px;
    /* border: none;
    outline: none; */
}
.a_white:hover{
    color: #134e5e;
}
